@model FoodTrakkerWebAplication.Models.ViewModel.FoodTruckEventViewModel

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
	<div class="row">
		<a asp-controller="Owner" asp-action="CreateFoodTruck">Add new food truck!</a>
	</div>
	<h1>Food Trucks</h1>
	<div class="row">
		<partial name="partials/_FoodTruckList" model="Model"/>
	</div>

	<h1>Events</h1>
	<div class="row">
		<partial name="partials/_EventsList" model="Model"/>
	</div>

</div>
