@{
    ViewData["Title"] = "About";
}
<partial name="_NavbarPartial" />
<div class="container"><br></br>
    <h1 style="text-align:center">About Food Trakker</h1>
    <br></br>
    <p style="text-align:center;">
        <span>
            The idea for Food Trakker came about when we realized that there was a lack of good tools for tracking Food Trucks.
        </span>
       <span>We wanted to create an app that would be easy to use and would help people find their favourite
            Food Trucks and food festivals in one dedicated app.
        </span>
        
       
        The app relies on user-submitted information about where trucks are located, their hours, a
        nd what they have available for purchase. The app also has a map which displays the location of the different vendors.
        If you're looking for an easy way to track your favourite vendors, Food Trakker is the perfect solution!
    </p><br></br>
    <h1 style="text-align:center">Meet the Team</h1><br></br>
    <p style="text-align:center;">
        Food Trakker is a web-based application created by a group of 4 junior software developers who wanted to display their skills
        in programming by creating this application as a portfolio project. We are constantly working on improving Food Trakker and adding new features. 
        If you have any suggestions, we would love to hear them! Check our profiles to reach out!<br></br> <cite title="Food Trakker Team"> -Food Trakker Team</cite>
    </p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <div class="pic">
                    <img src="~/img/natalia.png">
                </div>
                <h3 class="title">Natalia Cygan</h3>
                <span class="post">Junior C#.Net Developer</span>
                <ul class="social">
                    <li><a href="https://github.com/NCygan" target="_blank" class="bi bi-github"></a></li>
                    <li><a href="https://www.linkedin.com/in/natalia-cygan/" target="_blank" class="bi bi-linkedin"></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <div class="pic">
                    <img src="~/img/marek.png">
                </div>
                <h3 class="title">Marek Sawicki</h3>
                <span class="post">Junior C#.Net Developer</span>
                <ul class="social">
                    <li><a href="https://github.com/marek-sawicki-79" target="_blank" class="bi bi-github"></a></li>
                    <li><a href="https://www.linkedin.com/in/m-k-sawicki/" target="_blank" class="bi bi-linkedin"></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <div class="pic">
                    <img src="~/img/pawel.png">
                </div>
                <h3 class="title">Paweł Baran</h3>
                <span class="post">Junior C#.Net Developer</span>
                <ul class="social">
                    <li><a href="https://github.com/pawel-baran-se" target="_blank" class="bi bi-github"></a></li>
                    <li><a href="https://www.linkedin.com/in/pawel-baran-engineering/" target="_blank" class="bi bi-linkedin"></a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <div class="pic">
                    <img src="~/img/mateusz.png">
                </div>
                <h3 class="title">Mateusz Bronclik</h3>
                <span class="post">Junior C#.Net Developer</span>
                <ul class="social">
                    <li><a href="https://github.com/MateuszBronclik" target="_blank" class="bi bi-github"></a></li>
                    <li><a href="https://www.linkedin.com/in/mbronclik/" target="_blank" class="bi bi-linkedin"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-8">
        <div class="our-team">
            <div class="pic">
                <img src="~/img/kawialeria2.png">
            </div>
            <h3 class="title">Kawialeria Klawiatury</h3>
            <span class="post">Team Repository</span>
            <ul class="social">
                <li><a href="https://github.com/infoshareacademy/jcszr6-kawialeriaKlawiatury" target="_blank" class="bi bi-github"></a></li>
            </ul>
        </div>
    </div>
</div>


@*<div class="container">
    <div class="row justify-content-center">
    <div class="col-4 align-self-center">
    <img src="~/kawialeria klawiatury.png" class="img-fluid" alt="Logo">
    </div>
    </div>
    <div class="row justify-content-center">
    <div class="col-4 align-self-center">
    <img src="~/img/maintenance.png" class="img-fluid" alt="UnderConstruction">
    </div>
    </div>
    </div>*@
