@{
    ViewData["Title"] = "About";
}

<div class="container">
    <h1 style="text-align:center">Meet the Team</h1>
    <p style="text-align:center;">Kawialeria Klawiatury</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <div class="pic">
                    <img src="~/img/natalia.png">
                </div>
                <h3 class="title">Natalia Cygan</h3>
                <span class="post">Junior C#.Net Developer</span>
                <ul class="social">
                    <li><a href="https://github.com/NCygan" class="bi bi-github"></a></li>
                    <li><a href="https://www.linkedin.com/in/natalia-cygan/" class="bi bi-linkedin"></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <div class="pic">
                    <img src="~/img/marek.png">
                </div>
                <h3 class="title">Marek Sawicki</h3>
                <span class="post">Junior C#.Net Developer</span>
                <ul class="social">
                    <li><a href="https://github.com/marek-sawicki-79" class="bi bi-github"></a></li>
                    <li><a href="https://www.linkedin.com/in/m-k-sawicki/" class="bi bi-linkedin"></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <div class="pic">
                    <img src="~/img/pawel.png">
                </div>
                <h3 class="title">Paweł Baran</h3>
                <span class="post">Junior C#.Net Developer</span>
                <ul class="social">
                    <li><a href="https://github.com/pawel-baran-se" class="bi bi-github"></a></li>
                    <li><a href="https://www.linkedin.com/in/pawel-baran-engineering/" class="bi bi-linkedin"></a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <div class="pic">
                    <img src="~/img/mateusz.png">
                </div>
                <h3 class="title">Mateusz Bronclik</h3>
                <span class="post">Junior C#.Net Developer</span>
                <ul class="social">
                    <li><a href="https://github.com/MateuszBronclik" class="bi bi-github"></a></li>
                    <li><a href="https://www.linkedin.com/in/mbronclik/" class="bi bi-linkedin"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>



@*<div class="container">
    <div class="row justify-content-center">
    <div class="col-4 align-self-center">
    <img src="~/kawialeria klawiatury.png" class="img-fluid" alt="Logo">
    </div>
    </div>
    <div class="row justify-content-center">
    <div class="col-4 align-self-center">
    <img src="~/img/maintenance.png" class="img-fluid" alt="UnderConstruction">
    </div>
    </div>
    </div>*@
