@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<img src="~/img/Error500.jpg" class="Error500" alt="Error 500" asp-append-version="true">
</div>

