@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<FoodTruckDto>

@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	@*TUTAJ ZROB SLIDER NA FULL WIDTH*@
			@foreach (var item in Model)
			{
				<div class="col-md-4 col-sm-6 border-primary mb-3">
					<div class="card mb-3 FTCard" style="max-width: 540px;">
						<img src="~/img/FoodTruckImg/@item.ImageName" class="card-img-top FTImage" alt="@item.Name" asp-append-version="true">
						<div class="card-body">
							<h5 class="card-title">@item.Name</h5>
							<p class="card-text" style="min-height: 90px">@item.Description</p>
							<a asp-controller="FoodTrucks" asp-action="Details" asp-route-id="@item.Id" class="FTNameButton">Check it out!</a>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>

