@model Location

@{
	ViewData["Title"] = "CreateLocation";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_NavbarPartial" />
<div class="container">
	<h1>Create new event!</h1>

	<hr />
	<div class="row">
		<div class="col-md-4">
			<form asp-action="CreateLocation">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="Street" class="control-label"></label>
					<input asp-for="Street" class="form-control" />
					<span asp-validation-for="Street" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="City" class="control-label"></label>
					<input asp-for="City" class="form-control" />
					<span asp-validation-for="City" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="ZIPCode" class="control-label"></label>
					<input asp-for="ZIPCode" class="form-control" />
					<span asp-validation-for="ZIPCode" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input type="submit" value="Create" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>
	<br />
	<div>
		<a asp-controller="Owner" asp-action="Index" class="btn btn-light">Back!</a>
	</div>
</div>