@using FoodTrakker.Services.DTOs
@model ReviewDto

@{
	ViewData["Title"] = "CreateReview";

}

<br />
<br />
<div class="container-fluid">
	<div class="row" id="centered">
		<h1>Add Review!</h1>
		<div class="col-md-6">
			<form asp-action="CreateReview">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>

				<div class="form-group">
					<label asp-for="Title" class="control-label"></label>
					<input asp-for="Title" class="form-control" />
					<span asp-validation-for="Title" class="text-danger"></span>
				</div>

				<div class="form-group">

					<input type="hidden" input asp-for="Rating" class="form-control" />
					@Html.AntiForgeryToken()
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-md-4 control-label">
								Your rating <span style="font-weight:normal;">(1 start is bad, 5 star is good)</span>
							</label>
							<div class="col-md-7">
								<div onmouseout="CRateSelected()">
									<span class="starFade" id="Rate1" onclick="CRate(1)" onmouseover="CRateOver(1)" onmouseout="CRateOut(1)"></span>
									<span class="starFade" id="Rate2" onclick="CRate(2)" onmouseover="CRateOver(2)" onmouseout="CRateOut(2)"></span>
									<span class="starFade" id="Rate3" onclick="CRate(3)" onmouseover="CRateOver(3)" onmouseout="CRateOut(3)"></span>
									<span class="starFade" id="Rate4" onclick="CRate(4)" onmouseover="CRateOver(4)" onmouseout="CRateOut(4)"></span>
									<span class="starFade" id="Rate5" onclick="CRate(5)" onmouseover="CRateOver(5)" onmouseout="CRateOut(5)"></span>
								</div>
							</div>
						</div>
						<script>
							function SubmitComment() {
								if ($("#Rating").val() == "0") {
									alert("Please rate this service provider.");
									return false;
								}
								else {
									return true;
								}
							}

							function CRate(r) {
								$("#Rating").val(r);
								for (var i = 1; i <= r; i++) {
									$("#Rate" + i).attr('class', 'starGlow');
								}
								// unselect remaining
								for (var i = r + 1; i <= 5; i++) {
									$("#Rate" + i).attr('class', 'starFade');
								}
							}

							function CRateOver(r) {
								for (var i = 1; i <= r; i++) {
									$("#Rate" + i).attr('class', 'starGlow');
								}
							}

							function CRateOut(r) {
								for (var i = 1; i <= r; i++) {
									$("#Rate" + i).attr('class', 'starFade');
								}
							}

							function CRateSelected() {
								var setRating = $("#Rating").val();
								for (var i = 1; i <= setRating; i++) {
									$("#Rate" + i).attr('class', 'starGlow');
								}
							}
						</script>
						<span asp-validation-for="Rating" class="text-danger"></span>
					</div>
					<div class="form-group">
						<input asp-for="FoodTruckId" class="hidd" value="@Model.FoodTruckId" type="hidden" />

					</div>
					<div class="form-group">
						<label asp-for="Description" class="control-label"></label>
						<input asp-for="Description" class="form-control" />
						<span asp-validation-for="Description" class="text-danger"></span>
					</div>
					<br />
					<div class="form-group">
						<input type="submit" value="Add!" class="btn btn-primary" />
					</div>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				@Html.Raw(@ViewBag.Alert)
			</div>
		</div>
	</div>
</div>


