html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

* {
    font-family: 'Rubik Maze', cursive;
    font-style: normal;
    font-weight: 400;
}

header {
    height: 72px;
}

body {
    margin-bottom: 60px;
    z-index: 1;
}

.FTnav {
    z-index: 2;
}

.FTButton {
    background-color: #f5e3b0;
    border-radius: 10px;
    border: 3px solid #faf1d9;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    font-size: 18px;
    padding: 4px 8px;
    text-decoration: none;
    text-shadow: 0px -1px 15px #fcf3d9;
}

    .FTButton:hover {
        background-color: #f2d27e;
    }

    .FTButton:active {
        position: relative;
        top: 1px;
    }

.FTNavPadding {
    padding-left: 10px;
}

.FTLoginButton {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    border-radius: 10px;
    border: 3px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 4px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

    .FTLoginButton:hover {
        background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
        background-color: #f6f6f6;
    }

    .FTLoginButton:active {
        position: relative;
        top: 1px;
    }

.FTManuItemWrapper {
    justify-content: space-between;
}

.FTSearch {
    background-color: #f5e3b0;
    border-radius: 0px;
    border: 3px solid #f5e3b0;
    display: inline-block;
    color: #ffffff;
    font-family: Verdana;
    font-size: 18px;
    padding: 4px 8px;
    text-decoration: none;
    text-shadow: 0px -1px 15px #fcf3d9;
}

.FTCard {
    min-height: 350px;
}

.FTCardbutton {
}

.FTImageCarousel {
    height: 500px;
}

.FTImage {
    filter: blur(5px);
}

.FTCarousel {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.FTNameButton {
    background-color: #fff9e9;
    border: 3px solid #faf1d9;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Verdana;
    font-size: 18px;
    padding: 4px 8px;
    text-decoration: none;
    text-shadow: 0px -1px 15px #fcf3d9;
}

.FTNameButton:hover {
    background-color: #f5e3b0;
}
.commentBox {
    background-color: #efefef;
    padding: 10px;
    border-radius: 10px;
}

.starFade {
    background-image: url('/img/StarFade.gif');
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
    cursor: pointer;
}

.starFadeN {
    background-image: url('/img/StarFade.gif');
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
}

.starGlow {
    background-image: url('/img/StarGlow.gif');
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
    cursor: pointer;
}

.starGlowN {
    background-image: url('/img/StarGlow.gif');
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
}


