<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodTrakkerWebAplication</title>
    <link rel="stylesheet" href="~/css/cerulean.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/searchbar2.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo.png" class="img-fluid" alt="FoodTrakker!">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item active">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="MergedList" asp-action="Index"><i class="bi bi-card-list"></i> List</a>
                                <a class="dropdown-item" asp-controller="FoodTrucks" asp-action="Index"><i class="bi bi-truck"></i> Food Trucks</a>
                                @if (User.Identity.IsAuthenticated)
                                {  
                                 <a class="dropdown-item" asp-controller="EventLogged" asp-action="Index"><i class="bi bi-calendar2-event"></i>Event</a>
                                }
                                else
                                {
                                 <a class="dropdown-item" asp-controller="Event" asp-action="Index"><i class="bi bi-calendar2-event"></i> Event</a>
                                }
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="Home" asp-action="About"><i class="bi bi-cup-hot-fill"></i> About</a>
                            </div>
                        </li>
                    </ul>
                    <div class="align-items-center">
                        <form class="row row-cols-lg-auto my-lg-0" method="get" asp-controller="Home" asp-action="Index" style="padding-right: 25px;">
                            <div class="col-12" style="padding-right: 0;">
                                <input name="searchString" type="text" class=" d-sm-block d-md-none form-control" placeholder="Search Food Truck..." />
                            </div>
                            <div class="col-12 d-none d-md-none d-lg-block" style="padding-left: 0;">
                            </div>
                        </form>
                    </div>
                    <div>
                        @if (User.IsInRole(Roles.Administrator) || User.IsInRole(Roles.Owner))
                        {
                            <ul class="navbar-nav flex-grow-1">
                                <li>
                                    <a class="nav-link m-2" asp-area="" asp-controller="Owner" asp-action="Index" style=""><i class="bi bi-speedometer2"></i> Dashboard</a>
                                </li>
                            </ul>
                        }
                    </div>
                    <div>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div>
       @*<partial name="_SearchBlockPartial" />*@
    </div>
    <div>
        @*<partial name="_SliderPartial" />*@
    </div>

    </div>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    &copy; @DateTime.Now.Year - FoodTrakkerWebAplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>