@using Microsoft.AspNetCore.Identity

<div>
<body>
    <form class="row domain-search bg-pblue">
        <div class="">
            <div class="row">
                <div class="col-md-3">
                    <h2 style="align-content:flex-end" class="form-title">Find Your <strong>Food Truck!</strong></h2>
                    <p>Search for your favourite food truck now!</p>
                </div>
                <div class="col-md-5">
                    <div class="input-group">
                        <input name="searchString" type="search" class="form-control" placeholder="Search by type, name, or city...">
                        <span class="input-group-addon"><input type="submit" value="Search" class="btn btn-primary"></span>
                    </div>
                    <p><strong>mexican</strong><strong>thai</strong><strong>vegetarian</strong><strong>burger</strong></p>
                </div>
            </div>
        </div>
    </form>
</body>     
</div>
   
    